<!-- vibooks.ejs.ejs -->
<!doctype html>
<html>
<head>
	<title>Node Authentication</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
		body 		{ padding-top:80px; word-wrap:break-word; }
	</style>
</head>
<body>
<div class="container">
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">WebSiteName</a>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="/logout"><span class="glyphicon glyphicon-user"></span> Login</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="row">

		<!-- LOCAL INFORMATION -->
		<div class="col-sm-6 col-xs-12 col-md-4">
            <% for(var i=0; i< books.length; i++) {%>
			<div class="well">
				<h3><span class="fa fa-book"></span> <%= books[i].title %></h3>

				<p>
					<strong>Description</strong>: <%= books[i].description %><br>
					<strong>Autor</strong>: <%= books[i].author %><br>
					<strong>Publisher</strong>: <%= books[i].publisher %><br>
					<strong>Published Year</strong>: <%= books[i].publishedYear %><br>
				</p>
				<hr/>
				<p>
					<strong>Owner Name</strong>: <%= books[i].firstName + " "+  books[i].lastName %><br>
					<strong>email</strong>: <%= books[i].email %><br>
					<strong>phone</strong>: <%= books[i].phone %><br>

				</p>

			</div>
            <% } %>

		</div>
		<div class="col-md-2 col-xs-4">
			<button onclick='<%= clickHandler:"func1();" %>'>Add</button>
		</div>

	</div>
	<p >Click Me</p>

	<script>
        function func1(){
            console.log("I am in the click handler 1!");
        }
        function func2(){
            console.log("I am in the click handler 2!");
        }
	</script>
</div>
</body>
</html>
